.skills{
    background-color: rgb(12, 12, 12);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 50px;
        color: aliceblue;
      }

    .container{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .items{
            text-align: center;
            width: 200px;
            height: 165px;
            padding: 5px 5px;
            background-color: aliceblue;
            border-radius: 80%;
            border: 1px solid rgb(240, 239, 239);
            margin: 12px 20px;
                        img
{
                height: 150px;
                width: 150px;
                clip-path: circle(50%);
            }
        }
    }
}